# https://editorconfig.org
root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
# two trailing spaces are a Markdown line break
trim_trailing_whitespace = false

[test/golden/**]
# machine-written by npm run golden:update; never reformat
indent_size = unset
trim_trailing_whitespace = unset
insert_final_newline = unset

[*.{ttf,otf,png,pdf}]
charset = unset
end_of_line = unset
insert_final_newline = unset
trim_trailing_whitespace = unset
